// colors

// reds
$color-red-15: #96204A;
$color-red-30: #81173E;
$color-red-45: #6C0B31;     // primary
$color-red-60: #570024;

// blues
$color-blue-15: #243A66;
$color-blue-30: #1A2F57;    // primary
$color-blue-45: #102348;
$color-blue-60: #031638;

// purples
$color-purple-00: #977AA2;  // primary
$color-purple-15: #846B8F;

// greys
$color-grey-00: #C8CBE1;    // primary
$color-grey-15: #AEB1C6;

// pinks
$color-pink-00: #F6E5E7;    // highlight
$color-pink-15: #D5C7CA;