header
{
    @include flex();
    @include flex-direction(row-reverse);
    @include flex-align(center);
    padding: 40pt 8%;
    z-index: 3;
    position: absolute;
    width: 84%;
    object 
    {
        width: 60%;
    }

    .title 
    {
        position: absolute;
        top: 40pt;
        left: 8%;
    }
}

.content 
{
    padding: 60pt 8%;
}
.content-box
{
    padding-bottom: 10pt;

    span
    {
        display: block;
    }
}

.title
{
    color: $color-blue-30;
    margin-top: 0pt;
}
.subtitle
{
    color: $color-purple-15;
    font-weight: 400;
}

.wave
{
    width: 100%;
    margin-top: 110pt;
    margin-bottom: -5pt;
}

.about
{
    @include flex();
    @include flex-justify-content(space-between);
    background-color: $color-pink-00;
    padding-top: 60pt;
}
.about-box:first-of-type
{
    flex: 2;
    margin-right: 15pt;
}
.about-box:last-of-type
{
    flex: 4;
    margin-left: 15pt;
}